.background {
  height: 100%;
  padding-top: 300px;

  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #348ac7,
    #7474bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #348ac7,
    #7474bf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-form-login {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: 0 auto 0 auto;
  background-color: aliceblue;
  text-align: start;
}

#forgot-password {
  flex: 1 1 auto;
}
