.acc-main {
  /* margin-left: 40vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.acc-container {
  width: 90vw;
  margin: 4rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 2.5rem 2rem;
  max-width: var(--fixed-width);
  display: grid;
}

.content {
  padding: 1rem 2rem 1rem 2rem;
  font-size: medium;
}
