@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.home {
  /* display: grid; */
  height: 100vh;
  /* width: 100vw; */
  align-items: center;
  justify-content: center;
  /* grid-template-columns: 1fr; */
  /* background: #edf2f8; */
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 1.7;
  font-size: 1rem;
}

.home-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-nav-btn {
  padding: 20px;
}

.home-jumbotron {
  margin: 250px 0 250px 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: transform 3s ease-in-out;
  transform: translateY(200px);
  -webkit-transition: opacity 3s; /* Safari */
}

.home-jumbotron.show {
  opacity: 1;
  transform: translateY(0);
}

.home-jumbotron-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #4d72eb;
  object-fit: cover;
  margin-right: 10px;
}

.home-projects {
  background-color: white;
  padding: 100px;
}

.home-container {
  display: inline-flex;
  flex-direction: column;
  /* padding: 20px; */
}

.home-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #24292f;
  font-weight: 800;
  font-size: 4rem;
}

.home-subtitle {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.home-link {
  text-decoration: none;
  color: var(--color-smoke);
  font-weight: 500;
  font-size: 1rem;
}

.home-link:hover {
  text-decoration: none;
  color: white;
}

.home-small-projects h4 {
  display: flex;
  justify-content: center;
}

.home-button {
  display: inline-flex;
  overflow: hidden;

  margin: 10px;
  padding: 0.8rem 2rem 0.8rem 2rem;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: var(--color-snow);
  background: var(--color-ocean);
  border: 0 none;
  border-radius: var(--borderRadius);

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px var(--color-smoke);
}

.home-button:hover {
  transition: all 150ms linear;
  padding: 1rem 3.5rem 1rem 3.5rem;
  opacity: 0.9;
}

.home-github {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.home-button-red {
  display: inline-flex;
  overflow: hidden;

  margin: 10px;
  padding: 0.8rem 2rem 0.8rem 2rem;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: var(--color-snow);
  background: var(--color-salmon);
  border: 0 none;
  border-radius: var(--borderRadius);

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px var(--color-smoke);
}

.home-button-red:hover {
  transition: all 150ms linear;
  padding: 1rem 3.5rem 1rem 3.5rem;
  opacity: 0.9;
}

.home-small-projects {
  margin: 5vw 0 5vw 0;
}

.home-footer {
  background-color: hsl(219, 29%, 14%);
  height: 100px;
}
