.notif-index {
  margin-top: 15vw;
}

.notif-index-buttons {
  margin-top: 50px;
}

.notif-index-buttons > button {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
  margin: 5px;
}

.notif-index-buttons > button:hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  opacity: 70%;
}

.notif-index-buttons > .notif-index-info {
  background: blue;
  border: none;
  color: white;
}

.notif-index-buttons > .notif-index-success {
  background: #28a745;
  border: none;
  color: white;
}

.notif-index-buttons > .notif-index-warning {
  background: #ffc107;
  border: none;
  color: white;
}

.notif-index-buttons > .notif-index-danger {
  background: red;
  border: none;
  color: white;
}
