.notification {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  min-height: 85px;
  background-color: #fff;
  border-radius: 5px;
  border-left: 6px solid red;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* .notification-text > div {
  justify-content: start !important;
  align-items: start !important;
} */

.notification-close {
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 10px;
}

.notification-close:hover {
  cursor: pointer;
}
