/* :root {
  --timebar: 19;
  --timebar-color: black;
} */

.notification {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 350px;
  min-height: 85px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.4);
  /* margin: 10px; */
  padding: 10px;
  background: rgba(255, 255, 255, 0.83);
  backdrop-filter: saturate(180%) blur(10px);
  transition: transform 200ms ease-in-out;
  overflow: hidden;
}

.notificationContainer[data-position$="-right"] .notification {
  transform: translateX(110%);
}

.notificationContainer[data-position$="-left"] .notification {
  transform: translateX(-110%);
}

.notificationContainer[data-position="top-center"] .notification {
  transform: translateY(-1000%);
}

.notificationContainer[data-position="bottom-center"] .notification {
  transform: translateY(1000%);
}

.notificationContainer .notification.show {
  transform: translateX(0);
}

.notification:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
}

.notification-icon {
  margin-right: 10px;
  align-self: center;
}

.notification-text {
  margin-top: 5px;
}

.notification-text > div {
  font-size: 1rem;
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
}

.notification-text-title {
  font-weight: 800;
  padding-right: 40px;
  text-align: left;
}

.notification-text-message {
  padding-right: 40px;
  text-align: justify;
  margin-bottom: 5px;
}

.notification-close {
  padding: 10px 10px 10px 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 8px;
  right: 9px;
}

.notification-timebar {
  content: "";
  position: absolute;
  height: 4px;
  /* css variable */
  /* width: calc(100% * var(--timebar)); */
  /* background-color: red; */
  bottom: 0;
  left: 0;
  right: 0;
}
