:root {
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --transition: all 0.2s linear;
  --spacing: 0.1rem;
}

.logo {
  max-height: 3.5rem;
}

.nav-nav {
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-4);
  background: transparent;
  border-color: transparent;
  transition: all 0.2s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  transform: rotate(90deg);
}

ul {
  list-style-type: none;
}

.links a {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--clr-primary-8);
  color: white;
  text-decoration: none;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.social-icons {
  display: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 10.9rem;
}

@media screen and (min-width: 992px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    /* must be auto, so the inline css in Navbar.js works */
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    color: var(--clr-primary-5);
    /* background: transparent; */
    background-color: red;
  }
  .social-icons {
    display: flex;
    /* height: 0.6rem; */
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}
