:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #3dd28d;
  --color-snow: #ffffff;
  --color-salmon: #f32c52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;
  --color-awhite: #faf9f8;

  --borderRadius: 36px;

  --clr-white: #fff;
  --clr-black: #222;
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(210, 10%, 80%);
  --transition: all 0.2s ease-in-out;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-salmon: #f32c52;
  --clr-blueish: #d4e4ff;
  --clr-ocean: #416dea;
}

.App {
  text-align: center;
}

html,
body,
#root,
.App {
  height: 100%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 0.9rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
