:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #3dd28d;
  --color-snow: #ffffff;
  --color-salmon: #f32c52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;
  --color-awhite: #faf9f8;

  --borderRadius: 36px;
}

:root {
  --clr-white: #fff;
  --clr-black: #222;
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(210, 10%, 80%);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-salmon: #f32c52;
  --clr-blueish: #d4e4ff;
  --clr-ocean: #416dea;
}

.home-container {
  display: inline-flex;
  flex-direction: column;
  /* padding: 20px; */
}

.home-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #24292f;
  font-weight: 800;
  font-size: 4rem;
}

.home-subtitle {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.home-link {
  text-decoration: none;
  color: var(--color-smoke);
  font-weight: 500;
  font-size: 1rem;
}

.home-link:hover {
  text-decoration: none;
  color: white;
}

.home-button {
  display: inline-flex;
  overflow: hidden;

  margin: 10px;
  padding: 0.8rem 2rem 0.8rem 2rem;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: var(--color-snow);
  background: var(--color-ocean);
  border: 0 none;
  border-radius: var(--borderRadius);

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px var(--color-smoke);
}

.home-button:hover {
  transition: all 150ms linear;
  padding: 1rem 3.5rem 1rem 3.5rem;
  opacity: 0.9;
}

.home-github {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
