.navbarStripe {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.navbarStripe-center {
  width: 90vw;
  max-width: 1170px;
}

.navbarStripe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarStripe-button {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border-color: transparent;
  color: white;
  background: #222;
  cursor: pointer;
  transition: all 0.3s linear;
}

.navbarStripe-button:hover {
  background: hsl(210, 22%, 49%);
}

.navbarStripe-links {
  display: none;
}

.navbarStripe-signin {
  display: none;
}

@media screen and (min-width: 800px) {
  .navbarStripe-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .navbarStripe-button-toggle {
    display: none;
  }
  .navbarStripe-signin {
    display: inline-block;
  }
  .navbarStripe-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .navbarStripe-links li {
    height: 100%;
  }
  .navbarStripe-link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }
}
