#nav-dropdown {
  padding: 0 0 0 0;
}

.jumbotron {
  padding: 1.5rem 1rem;
  margin-bottom: 0px;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.jumbotron img {
  max-height: 10rem;
}

.content {
  height: 2000px;
  background-color: #eff4f8;
}

.navbar {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  padding: 0.2rem;
}

.center {
  margin-top: auto;
  margin-bottom: auto;
}
